{$DOMAIN:localhost} {

    tls internal # 自签名证书，Caddy 会自动生成

	  route /callfs/wss {
        rewrite * /
        reverse_proxy * 127.0.0.1:7443 {
		      transport http {
		        tls_insecure_skip_verify
		      }
        }
    }

    route {
        reverse_proxy * http://127.0.0.1:8090
    }
}
